In [1]:
import datetime, time
import datedelta
import pandas as pd
import datetime
import re, ast
import requests
import numpy as np
from sql_request import get_table_sql

In [2]:
incorrect_phones = (89199225384,
79999999999,
79997779999,
80000000000,
79999999979,
8000,
'8__________',
88888888888,
998999999999,
81111111111,
22222222222,
79222222222,
89111111111,
1,
89000000000,
86666666666,
88787878787,
82222222222,
79000000000,
87777777777,
78888888888,
7,
84444444444,
99999999999,
79898888888,
79999999988,
89222222222,
85555555555,
7299120000000000,
84723200000000000,
409024502993002,
71525200000000000,
67600800000000000,
9167770000000000,
78152400000000000,
87412800000000000,
98326500000000000,
9507920000000000,
92758700000000000,
73,
47268000000000000,
5454,
89088700000000000,
56056600000000000,
92758700000000000,
92758700000000000,
5122,
1489,
77014400000000000,
71475600000000000,
82744600000000000,
75,
52920700000000000,
52920700000000000,
73031900000000000,
73,
4444444,
3333333,
78568558,
46764567,
4447751315306,
8613079834233,
8613079834233,
4915231790617,
4915253713513,
4917680755501,
3598991753060,
7996773146613,
9129101855180,
6281521558893,
4915252764970,
4925252764970,
4999999999999,
4845656765767,
4086786788678,
7992907797963,
7992907797963,
7888888888888,
4915114110166,
4917622279132,
16414977151660,
89088908871711,
89088908871711,
65336690944722,
92457521645215,
92457521645215,
12121212121333,
777777777777,
899999999999,
992111716464,
893209710000,
992981010014,
375259042689,
447751315306,
996507036378,
892200065551,
821075717071,
994777279707,
905360615840,
905377846836,
790199209444,
988911659593,
998911659593,
380678024641,
789224581512,
995599067652,
892222896666,
892222686353,
996700503909,
892220018881,
994507035518,
992446106100,
995557571555,
375292928286,
879829481046,
447538603950,
420775130354,
789224581512,
420776269223,
972543105299,
789224581512,
441683982875,
255768976270,
971564034169,
996507291790,
971505262339,
375333837625,
905347804639,
996507108494,
380434233333,
998903209710,
375291181889,
736297209235,
998909287109,
998998171075,
996771122291,
996654545458,
375259507121,
972583230385,
375299146912,
996550343114,
998977153119,
972547479795,
992927775971,
996555555335,
905313552033,
375297126047,
375295773497,
375255411026,
998901170507,
998935154321,
972533739986,
996702804060,
966567817919,
966566816478,
892200955155,
375295002232,
411794218971,
380721840294,
380434233333,
992988444358,
992927886320,
998996466450,
380434233333,
998903528890,
375445089804,
890066419490,
447787971828,
798782902309,
375336535091,
971581152000,
971581152000,
971581152000,
447538603950,
996705001135,
380434233333,
380434233333,
380434233333,
380434233333,
380434233333,
380434233333,
890887544912,
380434233333,
380434233333,
380434233333,
380434233333,
996708885558,
996772323240,
998902764852,
380434233333,
380434233333,
996779559808,
996709995090,
375291492275,
996500586201,
375951753822,
998973990722,
375296502387,
380677171830,
996771140494,
375296167893,
996501100234,
998933773315,
998946429627,
905343764632,
998935862839,
919156824969,
996709219179,
891252466803,
998942301070,
375299654499,
996222211076,
994108114615,
992927777627,
898725888008,
992921775489,
994503123023,
905334909867,
998931823307,
358309890207,
420775064809,
996702106771,
996700799499,
380434233333,
892922577469,
380434233333,
553565858595,
380434233333,
996504966669,
996703777759,
992988552030,
998995170803,
996508018170,
375333640743,
375333640743,
375295561710,
375298781587,
380434233333,
359876752787,
994503106007,
375297603607,
992927667722,
375333640743,
992927666060,
996706388188,
996557595900,
375298149678,
375333200500,
995557532883,
995557532883,
995557532883,
998903463535,
998944104443,
572011527705,
572011527705,
375292914119,
998997627109,
998998430505,
992927345213,
893222000920,
375296167893,
992927775971,
375265538425,
789224857392,
789224857392,
789224857392,
992927522599,
992206474789,
891423974548,
420776110437,
420776110437,
905340736710,
994703800039,
905074058304,
420776110437,
992888339352,
998939675059,
996773146613,
992004444422,
971509553544,
905323772444,
919820365190,
992929591700,
375687165227,
998901345044,
994507918219,
491575557168,
899195691855,
572011527705,
789992323232,
555555555555,
358417926828,
996773146613,
998901423000,
998901423001,
375292602623,
890988600781,
628118160211,
998957791000,
893222000920,
420311879456,
898290838771,
995577763773,
789827754952,
992927775971,
992926776597,
996709998199,
905347051048,
905516786884,
905347051048,
905347051048,
789044931746,
788998989898,
789989898989,
905347051048,
998950091516,
891994336611,
998909671910,
201557823773,
899502925512,
898290838771,
572011527705,
998950091516,
998950091516,
998950091516,
891423974548,
789829135110,
992885555111,
992883337036,
777777777777,
380953914719,
919814662322,
381611637904,
996708555014,
994773203716,
899999999999,
572011527705,
971566012096,
971566012096,
375297065352,
992928555255,
789220788773,
992927090081,
955018803,
587287587,
222222225,
954810895,
954801140,
792385417,
954977072,
954897542,
954850490,
647574557,
954898831,
45468456,
96339305,
79218375,
'8ed91993235',
'8ed79822146',
71,
71111111111,
712,
71111111111)

incorrect_phones = pd.Series(incorrect_phones)
date_columns = ['дата создания заявки на покупку/продажу', 'дата закрытия заявки на покупку/продажу', 'дата продажи']

In [3]:
df = get_table_sql()

In [50]:
df_work = df.copy()

In [32]:
def df_types(df, date_cols):
    for col in df.columns:
        print(col)

        if col in date_cols:
            df[col] = df[col].astype(str).apply(lambda x: x.replace('.', '-'))
            df[col] = pd.to_datetime(df[col], dayfirst=True)

        elif col=='дата продажи':
            df[col].loc[df[col]!='0000-00-00'] = pd.to_datetime(df[col])
        
        else:
            df[col] = df[col].astype(pd.StringDtype())



def delete_numbers(df, phones):
    pass

In [ ]:
df_work = df_work.fillna(value=np.nan)

In [51]:
df_work.head(5)

,Город,Номер заявки на покупку/продажу,дата создания заявки на покупку/продажу,дата закрытия заявки на покупку/продажу,типзаявки на покупку/продажу,статус заявки,ФИО клиента,Телефон клиента 1,Телефон клиента 2,Телефон клиента 3,id риэлтора,ФИО риэлтора,ФИО менеджера,дата продажи
0,Тюмень,37164813,03-01-23,None,Покупка вторичная,open,Елизавета,89826429831,79826429831,None,68,Сюникаева Зульфия Хамзыловна,Сюникаева Зульфия Хамзыловна,None
1,Тюмень,39676358,28-04-23,None,Покупка вторичная,open,Надежда Петровна,89523451947,None,None,98,Косоулина Нина Николаевна,Завершенюк Жанна Борисовна,None
2,Тюмень,41935235,09-08-23,None,Покупка вторичная,open,Инна семеновна,89123911451,None,None,98,Косоулина Нина Николаевна,Завершенюк Жанна Борисовна,None
3,Тюмень,42090534,15-08-23,None,Покупка вторичная,open,Назаренко Кристина,89220060004,None,None,98,Косоулина Нина Николаевна,Завершенюк Жанна Борисовна,None
4,Тюмень,42413414,27-08-23,None,Покупка вторичная,open,Юлия,79199277599,None,None,98,Косоулина Нина Николаевна,Завершенюк Жанна Борисовна,None

In [52]:
df_work['дата создания заявки на покупку/продажу'] = df_work['дата создания заявки на покупку/продажу'].astype(str).apply(lambda x: x.replace('.', '-'))

In [41]:
pd.to_datetime(df_work['дата создания заявки на покупку/продажу'])

Город                                       string
Номер заявки на покупку/продажу             string
дата создания заявки на покупку/продажу     object
дата закрытия заявки на покупку/продажу     object
типзаявки на покупку/продажу                object
статус заявки                               object
ФИО клиента                                 object
Телефон клиента 1                           object
Телефон клиента 2                           object
Телефон клиента 3                          float64
id риэлтора                                  int64
ФИО риэлтора                                object
ФИО менеджера                               object
дата продажи                                object
dtype: object

In [29]:
df_types(df_work, date_columns)

Город
Номер заявки на покупку/продажу
дата создания заявки на покупку/продажу

C:\Users\ws-tmn-an-15\AppData\Local\Temp\ipykernel_3728\3312479280.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col].loc[df[col].notna()] = pd.to_datetime(df[col], dayfirst=True)

дата закрытия заявки на покупку/продажу

ParserError: month must be in 1..12: 00-00-00